/* grvl 1 */
/*
https://unicode-table.com/en/#003E
https://materialui.co/colors/
*/
a{text-decoration:none;}
a:hover{}
article{}
aside{}
body{font-family:sans-serif, Arial;margin:11px;}
code{}
footer{}
h1{font-size: 29px;margin: 5px 0 0 0;}
h2{font-size: 26px;margin: 5px 0 0 2px;}
h3{font-size: 23px;margin: 5px 0 0 4px;}
h4{font-size: 20px;margin: 5px 0 0 6px;}
h5{font-size: 17px;margin: 5px 0 0 8px;}
header{}
nav{}
p{}
.linkpage{}
